.update {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-size: 85%;

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        & li:first-child {
            margin-bottom: 10px;
        }

        & li:last-child {
            margin-top: 10px;
        }
    }
}
